h1 {
    color: green;
    background-color: silver;
}

p {
    color:orange;
    text-decoration: underline;
}

.green-text {
    color: greenyellow;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;

  }

