.container {
    display: grid;
    grid-template-columns: 10% 200px auto 150px;
    grid-template-rows: 20% 150px auto 150px 10vh;
}

.child {
    width: 100px;
    height: 100px;
    background: orange;
}